{% include 'home_header.html' %}
<center><br><br><br>
	<div class="jumbotron" style="width: 500px;background-color: pink!important">
	<h1>Login Now</h1><br>
	<form method="post">
		<table>
			<tr>
				<th>Enter your username</th>
				<td><input type="text" required="" class="form-control" name="uname"></td>
			</tr>
			<tr><th><br></th></tr>
			<tr>
				<th>New password</th>
				<td><input type="password" required="" class="form-control" name="passs"></td>
			</tr>
			<tr>
				<th>Confirm new password</th>
				<td><input type="password" required="" class="form-control" name="passs_new"></td>
			</tr>
			<tr><th><br></th></tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" class="btn btn-success" name="submit" value="Change password"></td>
			</tr>
		</table>
	</form></div>
</center><br><br><br>
{% include 'footer.html' %}